* {
  margin: 0 auto;
  padding: 0 auto;
}
.container {
  max-width: 767px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
h3 {
  font-family: SF Pro;
  font-size: 19px;
  font-weight: 590;
  line-height: 24px;
  letter-spacing: -0.44999998807907104px;
  text-align: center;
}
.input {
  display: flex;
  gap: 16px;
}
input {
  width: 40px;
  height: 44px;
  gap: 0px;
  border-radius: 12px;
  border: 2.4px solid #00000026;
}
.number {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 372px;
  gap: 12px;
  opacity: 0px;
}
button {
  width: 116px;
  height: 56px;
  gap: 12px;
  border-radius: 16px;
  background: #f4f4f7;
  border: none;
  font-family: SF Pro;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.img {
  background-color: transparent;
}
